html, body {
  width: 100%;
  height:100%;
  background-color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
}

.title-container  {
  margin: 170px 0;
  span {
  display: inline-block;
  }
}

.title {
  text-align: center;
  padding: 40px;
}

.sub-title {
  text-align: center
}

a {
  border-radius: 5%;
  color: black;
}

a:hover {
  color: #ff0057;
}

.sns {
  top: 20px;
  right: 20px;
  position: absolute;
  position: fixed;
  font-size: 30px;
}

.fas.fa-envelope {
  font-size: 28px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1f;
  grid-gap: 40px;
  // column-count: 4;
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container .card-portfolio{
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  height: 315px;
}

.container .card-portfolio {
  // right: 335px;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  // font-style: oblique;
}

.container .card-portfolio .face{
  width: 300px;
  height: 200px;
  transition: 1s;
}

.container .card-portfolio .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border-radius: 5%;
}

.container .card-portfolio:hover .face.face1{
  background: #ff0057;
  transform: translateY(0);
}

.container .card-portfolio .face.face1 .content{
  opacity: 0.5;
  transition: 0.5s;
}

.container .card-portfolio:hover .face.face1 .content{
  opacity: 1;
}

.container .card-portfolio .face.face1 .content img{
  max-width: 100px;
}

.container .card-portfolio .face.face1 .content h3{
    // margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}

.container .card-portfolio .face.face2{
  position: relative;
  // background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  border-radius: 5%;
}

.container .card-portfolio:hover .face.face2{
  transform: translateY(0);
}

.container .card-portfolio .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card-portfolio .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #ff0057;
  padding: 5px;
  border: 1px solid #ff0057;
}

.container .card-portfolio .face.face2 .content a:hover{
  background: #ff0057;
  color: #fff;
}

.page-frame-content {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-frame-header {
  padding: 16px;
}

.page-frame-body {
  flex-grow: 1;
  overflow: scroll;
}

.rainbow i:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

.last-line strong {
  animation: puff-out-hor 20s ease-in-out infinite alternate-reverse both;
}

@keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .page-frame-body {
    grid-template-columns: 1fr;
  }
  .container {
    align-items: center;
    flex-direction: column;
    width: unset;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .page-frame-body {
    grid-template-columns: 1fr;
  }
  .container {
    align-items: center;
    flex-direction: column;
    width: unset;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .page-frame-body {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .page-frame-body {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .page-frame-body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
