<div class="page-frame-content">
  <div class="page-frame-header">
    <div class="sns">
      <a href="https://github.com/a-ferre" target="_blank"><i class="fab fa-github"></i></a>
      <br>
      <a href="https://www.linkedin.com/in/albertferr%C3%A9/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <br>
      <a href="mailto: libraescorpio1982@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
      <br>
      <a href="/assets/images/Albert_Ferre_resume.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a>
    </div>
    <div class="title-container">
      <h1 class="title"><span>A L B E R T</span> <span>F E R R É</span></h1>
      <h2 class="sub-title">when coding becomes a <i><strong>lifestyle</strong></i></h2>
    </div>
  </div>
  <div class="page-frame-body">
    <div class="container">
      <div class="card-portfolio">
        <div class="face face1">
          <div class="content">
            <h3>MIMIC'S BLACKBERRY</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>A calendar app to help Dungeon Masters and players.</p>
            <p>#Rails #HTML #CSS</p>
            <p>#JavaScript #Chrome ext #Heroku</p>
            <a href="https://www.mimics-blackberry.com" target="_blank">TELL ME MORE</a>
          </div>
        </div>
      </div>
      <div class="card-portfolio">
        <div class="face face1">
          <div class="content">
            <h3>COSTUMES AIRBNB</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>A market place to post & rent costumes.</p>
            <p>#Rails #HTML #CSS #JavaScript</p>
            <p>#Mapbox</p>
            <a href="https://github.com/a-ferre/rails-costume-airbnb-clone" target="_blank">TELL ME MORE</a>
          </div>
        </div>
      </div>
      <div class="card-portfolio">
        <div class="face face1">
          <div class="content">
            <h3>COCKTAILS EXP</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>A cocktail menu to discover drinks and its ingredients.</p>
            <p>#Rails #HTML #CSS</p>
            <p>#Cloudinary</p>
            <a href="https://github.com/a-ferre/rails-mister-cocktail" target="_blank">TELL ME MORE</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container mb-5">
      <div class="card-portfolio">
        <div class="face face1">
          <div class="content">
            <h3>GIPHY FEVER</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>Who does not love Giphys?</p>
            <p>#HTML #CSS #JavaScript</p>
            <p>#React</p>
            <a href="https://github.com/a-ferre/giphy_fever" target="_blank">TELL ME MORE</a>
          </div>
        </div>
      </div>
      <div class="card-portfolio">
        <div class="face face1">
          <div class="content">
            <h3>OLYMPIC GAMES</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>An app to explore the different disciplines and participants.</p>
            <a href="#" target="#"><i>COMING SOON</i></a>
          </div>
        </div>
      </div>
      <div class="card-portfolio">
        <div class="face face1">
          <div class="content">
            <h3><i>COMING SOON...</i></h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>An app to change the way we see the world.</p>
            <a href="#" target="#"><i>COMING SOON</i></a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="ending">
      <h2 class="rainbow">If you can <i>imagine</i> it,</h2>
      <br>
      <br>
      <h2 class="last-line">you can <strong>create</strong> it.</h2>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <!--   <div class="page-frame-footer">
    <h2 class="last-line">Aaaa</h2>
  </div> -->
  <!-- <div class="title-ending">
    <h1 class="tit"><span>A L B E R T</span> <span>F E R R É</span></h1>
    <h2 class="sub-title">when coding becomes a <i><strong>lifestyle</strong></i></h2>
  </div> -->
</div>